<div class="element-left">
  <div class="element-bg-img">
    <img [src]="currentHotel.picture" alt="" class="img-responsive" />
  </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="filterInput"
          [(ngModel)]="filterInput"
        />
      </mat-form-field>

      <div>
        <mat-radio-group
          name="radioOpt1"
          [(ngModel)]="selectedRadio"
        >
          <mat-radio-button *ngFor="let opt of options" [value]="opt">
            {{opt}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <item
            [hotels]="hotels | titleAndDescriptionSearch: filterInput | filteringByStars: selectedRadio"
          ></item>
        </div>
      </div>
    </div>
  </div>
</div>
