<div class="element-left" *ngIf="hotel">
  <div class="element-bg-img">
    <img [src]="hotel.picture" alt="" class="img-responsive" />
  </div>
  <div class="village">
  <h5>{{ hotel.title }}</h5>
  <p>{{ hotel.description }}</p>
  <p>{{ hotel.address }}</p>
  <h6>{{ hotel.phone }}</h6>
  <ul>
    <li *ngFor="let photo of hotel.photos">
      <img [src]="photo" alt="" width="150" />
    </li>
  </ul>
  <button (click)="addToFavorite(hotel)">
    To Favorite
  </button>
    <button routerLink='comments' routerLinkActive='active'>
      Comments
    </button>
    <button routerLink='hotelContacts' routerLinkActive='active'>
      Contacts
    </button>
</div>
</div>

